@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FBF9F5;
  --foreground: #18181B;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #A5B4FC;
  color: #181820;
}
